<!-- about.component.html -->

<div class="py-3">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1>AGBA PASCAL</h1>
      <h3>Étudiant en Cyber Sécurité à Paris</h3>
      <hr>
      <h4>À propos de moi :</h4>
      <p>Agba Pascal est un étudiant béninois passionné par la cybersécurité et les nouvelles technologies. Actuellement basé à Paris, il poursuit ses études dans le domaine de la cybersécurité tout en s'engageant dans divers projets et initiatives liés à la sécurité informatique.</p>
      <hr>
      <h1>KONE Moussa</h1>
      <h3>Étudiant en Cyber Sécurité à Paris</h3>
      <hr>
      <h4>À propos de moi :</h4>
      <p>Moussa KONE est un étudiant passionné par les sciences et la nature. Très curieux et enthousiasmé par un apprentissage constant, il poursuit ses études afin d'engranger le plus de savoir et de culture possible.</p>
      <hr>
      <h4>Formation :</h4>
      <ul>
        <li>Cyber Sécurité Avancée - Université de Paris</li>
        <li>Baccalauréat en Informatique - Université Nationale du Bénin</li>
      </ul>
      <hr>
      <h4>Expérience Professionnelle :</h4>
      <p>Stage en Cybersécurité - [Entreprise], Paris</p>
      <hr>
      <h4>Compétences :</h4>
      <ul>
        <li>Sécurité des réseaux informatiques</li>
        <li>Cryptographie</li>
        <li>Analyse de vulnérabilité</li>
        <li>Gestion des incidents de sécurité</li>
        <li>Programmation en Python et en C</li>
      </ul>
      <hr>
      <h4>Projets :</h4>
      <p>Développement d'une application de gestion des mots de passe sécurisée</p>
      <hr>
      <h4>Publications :</h4>
      <p>[Titre de la publication] - Nom de la revue/conférence - [Année]</p>
      <hr>
      <h4>Engagements Communautaires :</h4>
      <p>Membre actif de [Nom de l'organisation communautaire] - [Période d'engagement]</p>
      <hr>
      <h4>Contact :</h4>
      <p>Email: [Votre email]</p>
      <p>LinkedIn: [Votre profil LinkedIn]</p>
    </div>
  </div>
</div>
