<!-- contact.component.html -->

<div class="py-3">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1>Contactez-nous</h1>
      <p>Nous sommes là pour répondre à vos questions et discuter de vos projets. N'hésitez pas à nous contacter !</p>
      <hr>
      <h3>Coordonnées</h3>
      <ul>
        <li><strong>Email:</strong> contact"&#64;"pascal.com </li>
        <li><strong>Téléphone:</strong> +33 123 456 789</li>
        <li><strong>Adresse:</strong> 123 Rue de la République, 75001 Paris, France</li>
      </ul>
      <ul>
        <li><strong>Email:</strong> contact"&#64;"moussa.com </li>
        <li><strong>Téléphone:</strong> +33 123 456 789</li>
        <li><strong>Adresse:</strong> 123 Rue des pains perdus, 95001 Conflans, France</li>
      </ul>
      <hr>
      <h3>Heures d'ouverture</h3>
      <p>Nos bureaux sont ouverts du lundi au vendredi, de 9h00 à 17h00.</p>
      <hr>
      <h3>Suivez-nous</h3>
      <p>Restez connecté avec nous sur les réseaux sociaux :</p>
      <ul>
        <li><a href="https://www.facebook.com/votrenom" target="_blank">Facebook</a></li>
        <li><a href="https://twitter.com/votrenom" target="_blank">Twitter</a></li>
        <li><a href="https://www.linkedin.com/in/votrenom" target="_blank">LinkedIn</a></li>
        <li><a href="https://www.instagram.com/votrenom" target="_blank">Instagram</a></li>
      </ul>
    </div>
  </div>
</div>
